* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background-image: url("./image/background.jpg");
	background-size: cover;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	font-family: 'Helvetica', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	font-size: 19px;
	color: #000;
	transition: color 1s;
}

.logo img {
	width: 200px;
	position: relative;
	top: 40px;
	left: 100px;
	border-radius: 10px;
}

.header {
	padding: 50px;
}

a:hover {
	color: black;
}

.header .logo {
	width: 30%;
	float: left;
}

.header ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 60%;
}

.header .menu ul li {
	margin-left: 50px;
	padding: 10px;
}

.header:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.main {
	padding-left: 100px;
}

.main .left {
	width: 70%;
	float: left;
}

.main .right {
	float: right;
	width: 30%;
}

.main .thongbao {
	padding-top: 30px;
}

.tb {
	margin-top: 20px;
	width: 50%;
	background-color: #fff;
	color: #666;
	box-shadow: 0 0 10px 1px black;
	padding: 10px;
	border-radius: 5px;
}

.main .content {
	padding: 10px;
}

.main .card {
	background-size: cover;
	padding: 20px;
	color: black;
	border-radius: 5px;
	border: 2px solid black;
	margin-right: 50px;
	margin-bottom: 30px;
}

.card .info {
	padding-left: 9px;
}

.right .card .ad img {
	width: 20px;
	position: relative;
	top: 4px;
}

.right img {
	width: 200px;
	max-width: 100%;
}

.main:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.social {
	margin: 30px 0;
}

.social h4 {
	font-size: 30px;
}

.social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 70%;
}

.social ul li {
	margin-left: 50px;
}

.footer {
	border-top: 2px solid #000;
	margin-top: 70px;
	background-color: red;
}

.footer .copy,
.footer .me {
	padding: 30px;
}

.footer .copy {
	float: left;
	padding-left: 170px;
	color: #fff;
	/* Màu chữ */
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	/* Đường bóng phát sáng màu đen */
}

.footer .me {
	float: right;
	padding-right: 170px;
	color: #fff;
	/* Màu chữ */
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	/* Đường bóng phát sáng màu đen */
}

.footer .me:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}


@media screen and (max-width: 800px) {

	.main .left,
	.main .right,
	.me,
	.copy,
	.social {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.main {
		padding: 10px;
		/* Reduce padding for better mobile appearance */
	}

	.tb {
		color: red;
		width: 100%;
		margin-top: 20px;
		/* Add some space between elements for better readability */
	}

	.main .card {
		margin-right: 0;
	}

	.logo img {
		transform: translate(0px, 10px);
	}

	.footer .me {
		transform: translate(100px, -10px);
	}
}